body {
    background-color: black;
    color: whitesmoke;
    overflow-x: hidden;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navbar ul {
    display: flex;
}

#navbar ul li {
    margin: 8px 52px;
    font-size: 1.8rem;
    font-family: 'Rubik Iso', cursive;
    font-family: 'Tilt Warp', cursive;
    list-style-type: none;
}

#navbar ul li a {
    text-decoration: none;
    color: white;
    position: relative;
}

#navbar ul li a::after {
    content: '';
    height: 3px;
    width: 0;
    position: absolute;
    background: #ab1616;
    left: 0;
    bottom: -6px;
    transition: 0.8s;
}

#navbar ul li a:hover::after {
    width: 100%;
}

#logo img {
    height: 8vh;
    width: 31vh;
}

#row {
    display: flex;
}

#col1 img {
    margin: 37px;
    width: 34rem;
    height: 37rem;
}

#col1 {
    display: inline;
    width: 50%;
}

#col2 {
    display: inline;
}

#col2 h1 {
    color: beige;
    text-decoration: underline burlywood;
    text-align: center;
    font-size: 40px;
}

.abo {
    text-align: center;
    font-family: 'Tilt Warp', cursive;
    font-size: 24px;
}

.abo span {
    color: darkgoldenrod;
}

.tab-title {
    display: flex;
}

.tabtitles {
    display: inline;
    margin: 3px 174px 5px 34px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    font-size: 25px;
}

.tabtitles::after {
    content: '';
    height: 3px;
    width: 0;
    position: absolute;
    background: #ab1616;
    left: 0;
    bottom: -6px;
    transition: 0.8s;
}

.tabtitles.activelink::after {
    width: 100%;
}

.contents {
    margin: 6px 58px;
    font-size: 23px;
    display: none;
}

.contents span {
    color: antiquewhite;
}

.contents li {
    margin: 3px 0px 0px -46px;
    color: coral;
}

.contents.activetab {
    display: block;
}

.out {
    position: fixed;
    right: 8px;
    top: 5px;
    z-index: -1;
    font-size: 39px;

}

.in {
    margin-top: 4px;
    margin-left: 3px;
    font-size: 33px;
}

#navbar i {
    display: none;
}

@media only screen and (max-width:1271px) and (min-width:896px){
    #col1 img {
        margin: 37px;
        width: 25rem;
        height: 27rem;
    }

}
@media only screen and (max-width:896px) and (min-width:600px){
  #row{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #col1 img {
    margin: 37px;
    width: 31rem;
    height: 32rem;
}
  #col2{
    display: block;
    margin-left: 17rem;
  }
  #col2 h1{
    font-size: 4rem;
  }
  .abo{
    font-size: 2rem;
}
.contents{
    font-size: 2rem;
}
.tabtitles{
    font-size: 2rem;
}
}
@media only screen and (max-width:600px) {
    #navbar i {
        display: block;
    }

   
    #row{
        flex-direction: column;
        align-items: center;
    }
    #navbar ul{
        top: -13px;

    }
    #logo img{
        width: 12rem;
        height: 4rem;
    }
    #row{
        margin-top: 2rem;
    }
    #col2{
        display: block;
        margin-left: 20rem;
    }
    #col2 h1{
        font-size: 4rem;
    }
    #sidemenu {
        flex-direction: column;
        position: fixed;
        top: 0px;
        right: -240px;
        width: 200px;
        height: 60vh;
        padding-top: 50px;
        background-color: #924d4d;
    }
    #col1 img{
        height:37rem;
        width: 30rem;
    }
    .abo{
        font-size: 2rem;
    }
    .contents{
        font-size: 2rem;
    }
    .tabtitles{
        font-size: 2rem;}

    #navbar ul .in {
        position: absolute;
        top: 8px;
        left: 3px;
        cursor: pointer;
    }

}