*{
    margin:0;
    box-sizing: border-box;
}


body {
    background-color: black;
    color: whitesmoke;
    overflow-x: hidden;
}
#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navbar ul {
    display: flex;
}

#navbar ul li {
    margin: 1rem 3rem;
    font-size: 32px;
    font-family: 'Rubik Iso', cursive;
    font-family: 'Tilt Warp', cursive;
    list-style-type: none;
}

#navbar ul li a {
    text-decoration: none;
    color: white;
    position: relative;
}

#navbar ul li a::after {
    content: '';
    height: 3px;
    width: 0;
    position: absolute;
    background: #ab1616;
    left: 0;
    bottom: -6px;
    transition: 0.8s;
}

#navbar ul li a:hover::after {
    width: 100%;
}

#logo img {
    margin-top: 1rem;
    height: 3rem;
    width: 12rem;
}
.in,.out{
    display: none;
}
.cont{
    display: flex;
    justify-content: space-evenly;
}
.image{
    flex-basis: 40%;
}
.image img{
    width: 30rem;
    height: 23rem;
    width: auto;
}
.details{
    flex-basis: 50%;
    width: auto;
    border: 3px solid green;
    padding: 13px;
    background: url('/images/contact2.jpg') no-repeat center center/cover;
    z-index: -1;
}
.details a{
    text-decoration: none;
    font-size: 1.7rem;
    color: blueviolet;
    padding: 8px;
}
.details i:hover{
    color:rgb(255, 0, 234);
    font-size: 2rem;
    cursor: pointer;
}
.deta{
    margin: auto;
}
.deta .col{
    color: rgb(158, 110, 38);
    bottom: 30px;
}
.deta i{
    color: #ab1616;
    font-size: 30px;
}
.deta{
    font-size: 30px;
}
.fromdet{
    border: 4px solid green;
    width:80%;
    margin: auto ;
    background: url('./images/suggestion.png') no-repeat center center/cover;
    z-index: -1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
form input{
    display: block;
}
h1{
    text-align: center;
    color: violet;
}
input{
    margin: 10px auto;
    width: 100%;
    font-size: 20px;
    
    color: darksalmon;
}
form textarea{
    display: block;
    width: 100%;
    font-size: 20px;
    color: darksalmon;
    margin: auto;
}
.btn{
    display: block;
    margin: auto;
    font-size: 20px;
    cursor: pointer;
    border: 4px solid grey;
    border-radius: 4px;
}
#msg{
    margin: 10px 450px;
    font-size: 21px;
    color: darksalmon;
}
footer{
    background-color: rgb(61, 58, 58);
    text-align: center;
    font-size: 20px;
    color: indianred;
}


@media only screen and (max-width:898px) and (min-width:751px){
    #navbar ul li{
        font-size: 1.5rem;
        margin: 1px 2.5rem;
    }
    .cont{
        flex-direction: column;
        /* position: absolute;
        right: 0; */
        justify-content: center;
    }
    .image{
        justify-content: center;
    }
    .image img{
        height: 22rem;
        width: 23rem;
        display: block;
        margin: 0px auto;
     
    } 
    .details{
       display: block;
       margin:1rem auto;
       width:40rem;
       height: 40rem;
    }
    
    .fromdet{
        justify-content: center;
    }
}
@media only screen and (max-width:898px) and (min-width:751px){
    #navbar ul li{
        font-size: 1.5rem;
        margin: 1px 2.5rem;
    }
    .cont{
        flex-direction: column;
        /* position: absolute;
        right: 0; */
        justify-content: center;
        
    }
    #logo img{
        margin-top: 0;
        height: 2.5rem;
        width: 10rem;
    }
    .image{
        justify-content: center;
    }
    .image img{
        height: 22rem;
        width: 23rem;
        display: block;
        margin: 0px auto;
     
    } 
    .details{
       display: block;
       margin:1rem auto;
       width:40rem;
       height: 40rem;
    }
    
    .fromdet{
        justify-content: center;
    }
}
@media only screen and (max-width:751px) and (min-width:610px){
    #navbar ul li{
        font-size: 1.2rem;
        margin: 1px 2rem;
    }
    #logo img{
        margin-top: 0;
        height: 2.5rem;
        width: 10rem;
    }
    .cont{
        flex-direction: column;
        /* position: absolute;
        right: 0; */
        justify-content: center;
    }
    .image{
        justify-content: center;
    }
    .image img{
        height: 20rem;
        width: 21rem;
        display: block;
        margin: 0px auto;
     
    } 
    .details{
       display: block;
       margin:1rem auto;
       width:40rem;
       height: 40rem;
    }
    .fromdet{
        justify-content: center;
    }
}


@media only screen and (max-width:610px) and (min-width:363px){
    .container{
        position: absolute;
        top: 2.5rem;
    }
    .cont{
        flex-direction: column;
        align-items: center;
        margin-top: 4rem;

        z-index: -10;
    }
    .image{
        bottom: 10px;
    }
    .details{
        height: 20rem;
        font-size: 2.5rem;
        width: 20rem;
    }
    .in,.out{
        display: block;
        font-size: 20px;
    }
    .out{
        top: 14px;
        right:2px;
        position: fixed;
        font-size: 25px;
        z-index: -1;
    }
    #navbar ul{
        background-color: rgb(30, 210, 171);
        flex-direction: column;
        position: fixed;
        top:0;
        right:-260px;
        width: 200px;
        height: 50vh;
        border: 3px solid rgb(30, 210, 171);
        border-radius: 7px;
    }
    #navbar ul li{
        font-size: 1rem;
        cursor: pointer;
    }
    #logo img {
        height: 2rem;
        width: 7rem;
    }
    #msg{
        margin: .4rem auto;
    }
    .intro{
        flex-direction: column;
    }
    .para{
        top: 20px;
        flex-basis: 100%;
    }
    .image img{
        height: 22rem;
        width: 21rem;   
    }
    #nam{
        display: block;
    }
    .in{
        top: 0px;
        right: 15px;
    }
}
@media only screen and (max-width:363px){
    .container{
        position: absolute;
        top: 2.5rem;
    }
    .cont{
        flex-direction: column;
        align-items: center;
    }
    .image{
        bottom: 10px;
    }
    .details{
        height: 20rem;
        font-size: 2.5rem;
        width: 17rem;
    }
    .in,.out{
        display: block;
        font-size: 20px;
    }
    .out{
        top: 14px;
        right:2px;
        position: fixed;
        font-size: 25px;
        z-index: -1;
    }
    #navbar ul{
        background-color: rgb(30, 210, 171);
        flex-direction: column;
        position: fixed;
        top:0;
        right:-260px;
        width: 200px;
        height: 50vh;
        border: 3px solid rgb(30, 210, 171);
        border-radius: 7px;
    }
    #navbar ul li{
        font-size: 1rem;
        cursor: pointer;
    }
    #logo img {
        height: 25px;
        width: 130px;
    }
    #msg{
        margin: .4rem auto;
    }
    .intro{
        flex-direction: column;
    }
    .para{
        top: 20px;
        flex-basis: 100%;
    }
    .image img{
        height: 16rem;
        width: 15rem;   
    }
    #nam{
        display: block;
        text-align: center;
        font-size: .8em;
    }
    .in{
        top: 0px;
        right: 15px;
    }
}